body {
    font-family: Arial;
    background: #f0f2f5;
}

.chat-container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

#messages {
    height: 250px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 5px;
}

input {
    width: 70%;
    padding: 8px;
}

button:hover {
    background: #1877f2;
    color: white;
}

